#root {
    font-family: monospace;
    font-size: 20px;
}
body {
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.list {
    display: flex;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pointer:hover {
    cursor: pointer;
}
.paragraph {
    padding-left: 15px;
    text-indent: -15px;
}

#movies {
    width: 80%;
    height: 80vh;
    background-color: antiquewhite;
    flex-wrap: wrap;
    overflow-y: scroll;
}
#favoriteMovies {
    flex-wrap: wrap;
    overflow-y: scroll;
}

header {
    background-color: steelblue;
    height: 30px;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 67;
    top: 0;
}
.headerOptions {
    background-color: transparent;
    border: none;
    width: 60px;
    font-family: monospace;
    font-weight: bold;
    transition: color 0.3s;
}

#favorites {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 5px;
    height: 30px;
}

#favorite {
    border: none;
    font-weight: bold;
    background-color: transparent;
    position: relative;
    left: 110px;
    bottom: 20px;
    width: 20px;
    outline: none;
}
#favorite:hover {
    cursor: pointer;
}